{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Profile</h2>
    <div class="row">
        <div class="col-md-4">
            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" class="img-thumbnail" alt="Profile Picture">
            {% else %}
                <img src="{% static 'img/default_profile_picture.jpg' %}" class="img-thumbnail" alt="Default Profile Picture">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h4>{{ request.user.username }}</h4>
            <p>{{ profile.bio }}</p>
            <!-- Add more fields as needed -->
        </div>
    </div>

    <hr>
    {% load crispy_forms_tags %}
    <h3>Edit Profile</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock content %}
